/* *{
    background-color: rgb(255, 255, 255);
} */
::-webkit-scrollbar{
    width: 0px;
} 

body{
  /* font-family: "Plus Jakarta Sans" !important; */
  font-family: "Inter" !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.container{
    flex: 1;
}


.navbar{
    height: 4rem;
    border-bottom: .2px solid #000000 !important; 
    background-color: rgba(255, 255, 255, 0.772);   
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    padding: 0px 0px 0px 19px !important;

}
.navbar-tgl{
    /* border-radius: 3px; */
    padding: 5px;
    font-size: .8rem !important;
    background-color: transparent;
    border: none;

}

.navbar-toggler-icon{
    border: none !important;
}
@media screen and (max-width: 302px){
    .navbar-toggler{
        display: none;
    }
}    
@media screen and (max-width: 768px){
    .navbar-nav a{
        margin-left: 20px;
        border-bottom: 1px solid rgb(128, 128, 128) !important;
        font-weight: 500;
    }
    .active{
        height: 15rem !important;
        transition: .5s ease all;
    }
    .de-active{
        /* width: 100%; */
        /* height: 70px !important; */
        /* background-color: #d80d0d !important; */
        height: 4rem !important;
        transition: .5s ease all;
    }
    .navbar-brand {
        margin-left: 20px;

    }
    
}  
@media screen and (min-width: 768px){
    .navbar-brand {
        /* margin-left: 19vw; */
        display: inline-block;
        /* sample added */

    }
    .navbar-nav a{
        font-weight: 500;
        /* background-color: rgba(187, 187, 187, 0.105); */
        border-radius: 50px;
        border: 2px solid rgba(187, 187, 187, 0.105);
        margin-right: 10px;
        padding: 2px;
    }
    .navbar-tgl{
        display: none;
    }
}  



.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem !important;
    font-weight: 500;
    
}
.navbar-brand b{
    margin-left: .5rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #030303;
    font-weight: 500;

}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-social, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3;
}
.f-info-social i{
    margin-right: 1.5rem;
    font-size: 1.2rem;
}
.f-info-outer{
    height: 8.15rem;
    margin: 10px 35px;
    padding: 1.5px;
    background: linear-gradient(to right, rgb(255, 0, 0) , rgb(55, 0, 255));
    border-radius: 20px;

}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ffffffdf;
    border: 1px li;
    display: flex;
    border-radius: 18.5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Crads */
.listing-card, .listing-card1{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

/* vishv patel maded part hover */
.listing-card {
    position: relative;
    overflow: hidden;
    /* z-index: 3; */
    background-color: #ffffff;
    border-radius: 1rem !important;
  }
.listing-card::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: #e6e6e6; */
    opacity: 0;
    transition: .5s ease all;
  }
  img {transition: .5s ease all; width: 100%; object-fit:cover;}
.listing-card:hover img {
    transform: scale(1.1);
  }
  
.listing-card:hover::after {opacity: 0.2;}

/* ended Here */


.card-body{
    padding: 0 !important;
    padding-top: 10px !important;
    z-index: 1;
    /* background-color: #ffffff; */
}
.card-text{
    font-weight: 400 !important;
}
.listing_links{
    text-decoration: none;
}
/* image round  */
.image{
    height: 20rem !important;
    overflow: hidden;
    z-index: 12;
    border-radius: 1rem !important;
}
.image img{
    width: 100%;
    height: 100%;
}
/* New Page */
.add-btn{
    background-color: #ff0000 !important;
    border: none !important;
}
/* Edit Page */
.edit-btn{
    background-color: #ff0000 !important;
    border: none !important;
}

/* show-page */
.show-img{
    height: 40vh;
}

.btns{
    display: flex;
}

/* map */


/* Navbar Search Design */
/* .btn-search{
    background-color: #000000 !important;
    color: white !important;
    padding: 2px;
} */